@{
    ViewBag.AppTitle = "SignalYN";
    ViewBag.HtmlTitle = ViewBag.AppTitle + ViewBag.HtmlTitle;
    ViewBag.TweetText = ViewBag.TweetText ?? ViewBag.AppTitle;
}<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="@ViewBag.AppTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@Localize.appDescription" />
    <meta property="og:url" content="@Url.AppUrl()" />
    <meta property="og:image" content="@Url.AppUrl()/Content/images/ogp-image.png" />@* The size of ogp-image.png for facebook is 200px x 200px. *@
    <meta property="fb:admins" content="@AppSettings.Facebook.Admins" />
    <meta property="fb:app_id" content="@AppSettings.Facebook.AppId" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="@Url.AppUrl()/Content/images/twittercard-image.png">@* The size of twittercard-image.png for twitter card is 120px x 120px. *@
    <meta name="keywords" content="@Localize.appKeywords" />
    <meta name="description" content="@Localize.appDescription" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/content/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="SignalYN">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/content/favicons/mstile-144x144.png">
    <meta name="application-name" content="SignalYN">

    <title>@ViewBag.HtmlTitle</title>
    @Styles.Render("~/content/css")
</head>
<body>
    <header>
        @RenderSection("headerLeft", required: false)
        <span>
            @ViewBag.AppTitle
        </span>
    </header>
    <div class="main">
        @RenderBody()
    </div>

    <footer>
        <div class="fb-like" data-share="true" data-width="300" data-show-faces="false" data-layout="button_count" data-action="like" data-href="@AppSettings.App.MailUrl"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="@ViewBag.TweetText">Tweet</a>
    </footer>

    <script>
        var _begin = Date.now();
    </script>
    @{
        var useCDN = Convert.FromBase64String(User.Identity.Name).Last() % 2 == 0;
        if (useCDN)
        {
            <text>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/chartjs")
                @Scripts.Render("~/bundles/angularjs")
                @Scripts.Render("~/bundles/jquery.signalR")
            </text>
        }
        else
        {
            <text>@Scripts.Render("~/bundles/js")</text>
        }
    }
    <script src="~/signalr/hubs"></script>
    <script>
        var _end = Date.now();
        var _elapse = (_end - _begin);
        $.post('/LogPerformance', {useCDN:@(useCDN?"true":"false"),elapse:_elapse});
    </script>
    @RenderSection("scripts", required: false)
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '@AppSettings.Facebook.AppId',
                xfbml      : true,
                version    : 'v2.1'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
